 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  
.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
  



 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-right-small {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right-small {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slide-right-small {
  -webkit-animation: slide-right-small 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right-small 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-down-small {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-down-small {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slide-down-small {
  -webkit-animation: slide-down-small 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-down-small 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes appear {
  from {
    opacity: 0;
    // scale: 0.6;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    // scale: 1;
    transform: translateX(0);
  }
}


.appear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}



@keyframes infiniteslider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }

}

.infiniteslider {
  animation: 10s infiniteslider infinite linear;
}