@use '../general' as *;
@use '../section/mixins' as *;

.btn-padding {
  @include btnSpacing;
}

.btn-background-black {
    position: relative;
    overflow: hidden;

    // span {
    //     position: relative;
    //     z-index: 1;
    // }

    &::before {
        content: 'Discover';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 100%;
        background-color: $gray-900;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transitionProperty;
    }

    &:hover::before {
        right: 0;
    }
}