@use '../general' as *;
@use '../section/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.display-1 {
    @include fontFamilyPrimary;

    &.banner-title {
        font-size: 4.5em;
        font-weight: 600;

        @include media-breakpoint-up(md) {
            font-size: 6em;
        }

        @include media-breakpoint-up(lg) {
            font-size: 8em;
        }
    }

    &.banner-sub-title {
        font-size: 2em;
        font-weight: 600;

        @include media-breakpoint-up(md) {
            font-size: 3em;
        }

        @include media-breakpoint-up(lg) {
            font-size: 4em;
        }
    }
}

p, h1 {
    @include fontFamilyPrimary;
}

.section-title-p {
    font-size: .85rem;
    font-weight: 600;
}