@use '../general' as *;
@use '../section/mixins' as *;

.navbar-container {
    font-weight: 400;
    @include fontFamilyPrimary;

    li {
        display: inline-flex;

        a {
            font-size: .8rem;
            color: $black;
            position: relative;

            &::after {
                @include linkLineProperty;
                @include transitionProperty;
            }


            &:hover::after {
                width: 100%;
            }
        }


        .active {
            // border-bottom: 2px solid $primary;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px; /* Adjust border thickness */
                width: 100%;
                background-color: $primary; /* Adjust underline color */
                bottom: -1px;
                // @include transitionProperty;
            }
        }
    }

    .dropdown {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon {
            font-size: .9em;
            color: $primary;
            font-weight: 1000;
            transform: rotate(0deg);
            @include transitionProperty;
        }

        ul {
            border: none;
            border-radius: 0;
            box-shadow: 0px 2px 1px $gray-400;


            @include media-breakpoint-down(md) {
                box-shadow: none;
                text-align: center;
                background-color: inherit;
            }
            
            li {
                display: inline-flex;

                @include media-breakpoint-down(md) {
                    display: inline-flex;
                    text-align: center;
                }
            }
        }

        &:hover {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    p {
        a {
            @include defaultLinkStyle;
        }
    }

    .navbar-collapse {
        overflow-y: visible;
    }
}